#albums-page {
  height: 100vh;
  overflow: hidden;
}

#action-btns{
  height: 100%;
  justify-content: space-between;
}

.rotate90{
  width: max-content;
  display: flex;
  align-items: center;
  justify-content:space-around;
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: 0 0;
}

.rotate90 h3{
  display: inline-block;
  word-break: keep-all;
  line-height: 62px;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Monoton';
  color:gray;
}

.rotate90 img{
  display: inline-block;
  height: 43px;
  filter: invert(.4);
}

#tabsandfilters{
  height: 10vh;
}

#albums-section.albums-grid {
  padding:2vw 5vw;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  /* border: 3px dotted red; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
  grid-gap: 1vw 2vw;
  justify-content: center;
  align-items: start;
}
.albums-card {
  float: left;
  margin: 15px;
  width: 10vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  filter:drop-shadow(1px);
  transition: 400ms all;
  /* border:3px dotted fuchsia */
}

.albums-card{
  box-shadow: 0 4px 15px rgba(0, 0.9, 0, 0.1);
}
.albums-card:hover{
  box-shadow: 0 4px 15px rgba(46, 176, 134, 0.4);
}

.album-cover {
  width: 10vw;
  height: 10vw;
  border: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover-a {
  background-image: url(../album-covers/a.png);
}
.cover-b {
  background-image: url(../album-covers/b.png);
}
.cover-c {
  background-image: url(../album-covers/c.png);
}
.cover-d {
  background-image: url(../album-covers/d.png);
}

.cover-e {
  background-image: url(../album-covers/e.png);
}
.cover-f {
  background-image: url(../album-covers/f.png);
}
.cover-g {
  background-image: url(../album-covers/g.png);
}
.cover-h {
  background-image: url(../album-covers/h.png);
}
.cover-i {
  background-image: url(../album-covers/i.png);
}
.cover-j {
  background-image: url(../album-covers/j.png);
}
.cover-k {
  background-image: url(../album-covers/k.png);
}

.cover-l {
  background-image: url(../album-covers/l.png);
}
.cover-m {
  background-image: url(../album-covers/m.png);
}
.cover-n {
  background-image: url(../album-covers/n.png);
}
.cover-o {
  background-image: url(../album-covers/o.png);
}
.cover-p {
  background-image: url(../album-covers/p.png);
}
.cover-q {
  background-image: url(../album-covers/q.png);
}
.cover-r {
  background-image: url(../album-covers/r.png);
}

.album-info .title {
  font-size: 15px;
  max-width: 100%;
  height: 2vw;
  line-height: 1vw;
  word-spacing: .1rem;
  overflow: hidden;
  cursor: pointer;
  margin-top: .3rem;
  text-transform: uppercase;
  
}
.album-info .artist {
  font-size: 13px;
  color: grey;
  font-family: 'Pacifico','Outfit','Quicksand';
}

.album-link {
  /* color: blueviolet; */
}

#album-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 603px;
  opacity: 0;
  scale: 0;
  height: 400px;
  background-color: #e5e5e5;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 10px #4f6d6a);
  backdrop-filter: blur(30px);
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1) all ;
  transform-origin: left top;
}

#album-overlay.show{
  scale: 1;
  opacity: 1;
}

#top {
  display: flex;
  height: 15%;
  width: 50%;
  padding-left: 2rem;
  align-items: center;
  justify-content: flex-start;
}
button.favorite-btn {
  /* width: 5%; */
  /* position: absolute */
  width: 20px;
  height: 20px;
  background-image: url(../res/images/sprites/not-favorite.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
#main-section {
  position: relative;
  height: 75%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-section #cover-art {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../album-covers/a.png);
}
#main-section #songs {
  width: 50%;
  height: 100%;
}
#songs label {
  font-size: 13px;
  color: #000;
}
#main-section #thin-scroller {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #d2d2d2;
  top: 0;
  right: 0;
  /* bottom: 0; */
}
#songs label[for="sn"] {
  width: 15%;
  display: inline-block;
  text-align: right;
  padding: 5px 0;
  /* border: 1px solid violet; */
}
#songs label[for="songs"] {
  /* width: %; */
  /* color: green; */
  display: inline-block;
  margin-left: 20px;
  padding: 5px 0;
  /* border: 1px solid violet; */
}
table {
  /* text-align: center; */
}
table td {
  padding: 3px 0;
}
table#songs-in-album tr td.sn {
  width: 20%;
  text-align: right;
  /* border: 1px solid violet; */
}
table#songs-in-album tr td.song-title {
  width: 80%;
  padding: 0 0 0 20px;
  /* color: violet; */
  /* border: 1px solid violet; */
}

#bottom {
  /* clear: both; */
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid violet; */
  font-size: 13px;
  font-weight: 300;
}
