#artist-overlay {
  position: absolute;
  /* display: none; */
  display: block;
  border-radius: 10px;
  width: 700px;
  height: 440px;
  top: 50%;
  left: 51%;
  transform:  translate(-50%, -50%);
  scale: 0;
  background-color: #e5e5e5;
  filter: drop-shadow(0px 0px 10px #000);
  z-index: 99;
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1) all ;
  transform-origin: left top;
  opacity: 0;
}
#artist-overlay.show{
  scale: 1;
  opacity: 1;
  /* display: block; */
}
#info-left {
  border-radius: 10px 0 0 0;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  border-right: 2px solid darkslategray;
  /* background-color: #000; */
  /* border: 1px solid grey; */
}
#info-left #cover-image {
  /* border-radius: 10px; */
  position: relative;
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* background-color: #fff; */
  border: 1px dashed rgba(0, 0, 0, 0.1);
}
#info-left .cover-image img {
  /* position: absolute;
    top: 50%; */
  /* border: 1px solid grey; */
}
#info-left #albums {
  /* position: relative; */
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0 1px;
  bottom: 0;
  height: 25%;
  width: 100%;
  box-shadow: 0 -4px 10px rgba(28, 56, 49, 0.7);
  /* overflow-x: scroll; */
  background-color: var(--primary-color-xx);
}
#info-right {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  top: 0;
  bottom: 0;
  border-radius: 0 10px 0 0;
  box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.4);
  /* border-left: 2px solid darkslategray; */
  text-overflow: clip;
  overflow-y: scroll;
  overflow-x: hidden;
}

#info-left .info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 10%;
}
#info-left .info-top h1#artist-name {
  /* width: 80%; */
  /* font-size: 20px; */
}
#info-left .info-top button.favorite {
  /* width: 5%; */
  width: 20px;
  height: 20px;
  background-image: url(../res/images/sprites/not-favorite.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}

#info-right ol.songs-by-artist {
  /* width: 100%; */
  font-size: .94rem;
  padding-right: 1rem;
  font-family: 'Poppins';
  display: block;
  /* list-style-type:georgian; */
}
#info-right ol.songs-by-artist li {
  cursor: pointer;
  margin: 8px 0;
  /* padding: 0 20px; */
  text-align: right;
}

#info-right .lite-scroller {
  position: absolute;
  right: 0;
  top: 0;
  width: 15px;
  height: 100%;
  background-color: #d2d2d2;
  display: inline-block;
  cursor: pointer;
}
.lite-scroller .scroll-handle {
  height: 30px;
  width: 100%;
  background-color: darkslategrey;
  border-radius: 5%;
}

#albums small {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  text-align: center;
  color: thistle;
  padding-top: 2px;
  text-transform: uppercase;
  /* text-decoration: underline; */
}
#albums .chevron-next {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  background-image: url(../res/images/icons/round-chevron-next.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 0;
  background-color: rgba(221, 218, 218, 0.4);
  /* opacity: 0.5; */
  transition: all 100ms;
  filter: sepia(90);
  backdrop-filter: blur(1px);
}
#albums .chevron-next:hover {
  opacity: 1;
  filter: drop-shadow(0px 2px 4px var(--primary-color)); 
}
.album-card {
  width: 150px;
  height: 110px;
  display: inline-block;
  border-right: 3px inset gray;
  border-radius: 5px 0 0 0;
  /* border: 1px solid forestgreen; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-card .album-cover {
  height: 70%;
  width: 100%;
  /* max-width: 300px; */
  /* display: block; */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.album-card.a .album-cover {
  background-image: url(../album-covers/Whomadewho.jpg);
}
.album-card.b .album-cover {
  background-image: url(../album-covers/a.png);
}
.album-card.c .album-cover {
  background-image: url(../album-covers/ACDCPowerUp.jpg);
}
.album-card.d .album-cover {
  background-image: url(../album-covers/Acdc_Highway_to_Hell.jpg);
}

.album-card .album-title {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  padding: 2px 0 0 0;
  line-height: 12px;
  color: #fff;
  font-family: 'Poppins';
  /* text-overflow: ellipsis; */
}

#play-album {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../artist-logo/logo-acdc.png);
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  filter: drop-shadow(0px 0px 4px #ab633b);
  transition: all 200ms;
  border-radius: 50%;
}
#play-album:hover {
  background-image: url(../res/images/icons/round-play.png);
  /* border: 1px solid darkgreen; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  filter: drop-shadow(0px 0px 20px #000000);
}
