#player-container {
  position: relative;
  height: 100vh;
  width: calc(100vw - 62px);
  /* width: 100%; */
  /* background-color: transparent; */
  overflow: hidden;
}

#casette-player-parent {
  position: absolute;
  margin: 0 !important;
  height: 68vmin;
  width: 59.82vmin;
  z-index: 3;
  left: calc(50% + 32px);
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translateY(-50%);
  filter: drop-shadow(0px 0px 4px gray);
  backdrop-filter: blur(30px);
  overflow: visible;
}
#timeless #player {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  filter: drop-shadow(0px 0px 4px gray);
  /* border: 1px solid firebrick; */
  box-sizing: border-box;
  overflow: visible;
}

#casette-container {
  background-color: rgba(33, 33, 33, 0.9);
  position: absolute;
  height: 60vmin;
  width: 100%;
  border-radius: 20px 3px 3px 3px;
  left: 0%;
  top: 0%;
  z-index: 1;
  /* filter: drop-shadow(0px 0px 14px gray); */
  backdrop-filter: blur(12px);
  overflow: hidden;
  border: 1px solid sienna;
}

#casette-container #casette {
  height: 100%;
  width: 100%;
  background-image: url(../res/images/sprites/casette-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid red; */
  z-index: inherit;
}

#casette-container #wheel-left,
#casette-container #wheel-right {
  position: absolute;
  width: 26%;
  height: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../res/images/sprites/tape-wheel.png);
  border: 1px solid gray;
  border-radius: 50%;
  z-index: -1;
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
}

#casette-player-parent #casette-container #wheel-left.paused,
#casette-player-parent #casette-container #wheel-right.paused 
{
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#casette-container #wheel-left {
  top: 21%;
  left: 20%;
}

#casette-container #wheel-right {
  top: 21%;
  right: 18%;
}

/* __________________________ */

#song-info {
  font-family: 'Playpen Sans';
  font-size: 3vh;
  position: absolute;
  line-height: 8.5vh;
  width: 100%;
  top: 0%;
  text-align: center;
}

#title {
  /* font-size: 3vh; */
  text-overflow: clip;
}

#artist {
  text-overflow: clip;
  /* font-family: "Fredericka the Great", cursive; */
  color: rgba(33, 33, 33, 1);
  /* font-size: 19px; */
  word-spacing: 9px;
  letter-spacing: 1px;
  /* padding-top: ; */
  /* border: 1px solid red; */
}

.previousplaynext {
  position: relative;
  width: 100% !important;
  height: 18%;
  left: 0 !important;
  top: 60.34% !important;
  margin: 0 !important;
  transition: all 300ms;
}
.previousplaynext button {
  position: absolute;
  height: 100% !important;
  width: 46px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 50px !important;
  border-radius: 2px;
  border-style: inset;
  /* border-top: 3px solid bisque; */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.9);
  background-image: none !important;
  background-color: transparent !important;
  transform: perspective(1000px) rotateX(0deg);
  border-top: 3px solid rgba(0, 0, 0, 0.4);
  /* transition: transform 0.9s ease-in; */
}

.previousplaynext button:hover{
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

.previousplaynext button:active{
  /* height: 105% !important; */
   /* border-top: 3px solid rgba(0, 0, 0, 0.4); */
  transition: 100ms ease-out;
  transform: perspective(1000px) translateY(1%) rotateX(-10deg);
}


.previousplaynext button.previous {
  width: 16.4% !important;
  left: 23%;
}

.previousplaynext button.play {
  width: 11.3% !important;
  left: 39.5%;
}
/* .previousplaynext button.play:active {
  width: 11.3% !important;
} */

.previousplaynext button.pause {
  width: 11.3% !important;
  left: 51.8%;
}

.previousplaynext button.next {
  width: 16.4% !important;
  left: 64%;
}

.previousplaynext {
  position: absolute;
  top: 0;
  left: 40%;
  width: min-content;
  margin: 0 3%;
}
#player .progress-n-favorite {
  width: 100%;
  position: absolute;
  bottom: 0 !important;
  margin: 0 !important;
  overflow: visible;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#player .progress-n-favorite #progress-bar{
  /* min-width:  */
  margin: 2.3rem 1rem 0 1rem;
}

#player .progress-n-favorite #switch-schemes{
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  pointer-events: initial;
}

#player .progress-n-favorite button {
  margin-top: 2.3rem;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  /* position: relative; */
}

#player .progress-n-favorite .switch-schemes button {
  height: 2.4rem;
  width: 2.4rem;
}

#player .progress-n-favorite .btn-favorite {
  background-image: url(../res/images/icons/favorite-btn.png);
}
