#equalizer {
  width: 452px;
  height: 427px;
  background-color: dimgray;
  border:0 !important;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-40%, -50%);
  transition: all 300ms;
  filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.53));
  background: radial-gradient(
    95.98% 95.98% at 50% 50%,
    #041c15 21.35%,
    rgba(0, 0, 0, 0) 96.88%
  );
  border-radius: 30px;
}

#equalizer .fx-bar{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  /* background-color: antiquewhite; */
  /* height: ; */
}
#equalizer .fx-bar button{
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
}

#equalizer .fx-bar button.off{
  background-color:thistle;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

#equalizer .fx-bar button:hover{
  box-shadow: none;
}

.fx-bar .btn-rain{
  background-image: url(./images/icons/sidebar/rain-0.svg);
  background-size: 70%;
}
.fx-bar .btn-bubble{
  background-image: url(./images/icons/sidebar/bubble.png);
  background-size: 70%;
}
.fx-bar .btn-nature{
  background-image: url(./images/icons/sidebar/insect.svg);
  background-size: 100%;
}
.fx-bar .btn-talks{
  background-image: url(./images/icons/sidebar/talk.svg);
  background-size: 100%;
}
.fx-bar .btn-visualizer{
  background-image: url(./images/icons/sidebar/visualizer-empty.svg);
  background-size: 80%;
}
.fx-bar .btn-thunder{
  background-image: url(./res/images/icons/sidebar/thunder.svg);
  background-size: 80%;
}

.grid {
  width: 100%;
  height: 80%;
  /* position: absolute; */
  font-weight: 200;
  font-size: 15px;
  display: grid;
  /* display: none; 226px */
  grid-template-columns: 10% 70%;
  justify-content: space-evenly;
  justify-items: flex-end;
  text-align: end;
  align-items: center;
  /* gap: 20px 0px; */
  z-index: 20;
  transition: 300ms;
  color: whitesmoke;
  /* border:0 !important; */
  border-top: 1px dotted violet;
}

.grid input {
  width: 100%;
  color: black;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#equalizer input[type="range"]{
  overflow: visible;
}

/*Range Reset*/
#equalizer input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   /* width: 15rem; */
}
/***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 #equalizer input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 0.5rem;
  height: 12px;  
  overflow: visible;
  z-index: 19;
}
#equalizer input[type="range"]#bass::-webkit-slider-runnable-track{
  background-color:khaki !important;
}
#equalizer input[type="range"]#mid::-webkit-slider-runnable-track{
  background-color: purple !important;
}
#equalizer input[type="range"]#treble::-webkit-slider-runnable-track{
  background-color: coral !important;
}
#equalizer input[type="range"]#reverb::-webkit-slider-runnable-track{
  background-color: yellowgreen !important;
}

/* slider thumb */
#equalizer input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -11px;
  /*custom styles*/
  background-color: white;
  height: 38px;
  width: 10px;
  z-index: 20;
}

#equalizer input[type="range"]:focus::-webkit-slider-thumb {   
 border: 1px solid pink;
 outline: 3px solid pink;
 outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
#equalizer input[type="range"]::-moz-range-track {
  /* background-color: pink; */
  background-color:maroon;
  border-radius: 0.5rem;
  height: 0.5rem;
  overflow: visible;
}

/* slider thumb */
#equalizer input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  margin-top: -11px;
  /*custom styles*/
  background-color: white;
  height: 2rem;
  width: 1rem;
}

#equalizer input[type="range"]:focus::-moz-range-thumb {
 border: 1px solid pink;
 outline: 3px solid pink;
 outline-offset: 0.125rem; 
}
