/* #timeless {
  position: relative;
} */

#box{
  position: absolute;
  background-color: transparent;
  z-index: 6;
  margin: 10px auto;
  left: 62px;
  top: 0;
  pointer-events: none;
}

h3#player-title{
  color: var(--primary-color-xx);
  margin: 1vw 0 0 2vw;
  font-size: 2.5rem;
  opacity: .3;
}