/* @font-face {
  font-family: "Audiowide";
  src: url("Audiowide-Regular.ttf");
} */

#player {
  width: 50%;
  height: 50%;
  /* height: fit-content; */
  position: relative;
  top: 55%;
  transform: translateY(-50%);
  margin-left: 50%;
  z-index: 3;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  /* text-align: left; */
}

.progress-n-favorite {
  width: 80%;
  height: 40px;
  overflow: visible;
  margin: 23px 0;
  position: relative;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#progress-container.normal-progress-bar {
  position: relative;
  /* margin-top: 4%; */
  height: 8px;
  width: 80%;
  background-color: transparent;
  border: 1px solid gainsboro;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

/* #lock {
  position: fixed;
  z-index: 20;
  left: 53%;
  top: 4%;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../res/images/icons/unlocked.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  right: 5%;
  transition: all 400ms;
} */

.btn-favorite {
  height: 26px;
  width: 26px;
  background-image: url(../res/images/icons/favorite-btn.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  position: relative;
}

#title {
  font-family: "Audiowide", cursive;
  font-size: 40px;
  color: aliceblue;
}

#artist {
  font-family: "Monofett", cursive;
  color:greenyellow;
  font-size: 25px;
  word-spacing: 9px;
  letter-spacing: 5px;
}