#player-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body.dj #player-container {
  background-image: radial-gradient(black, rgb(56, 71, 71) 95%);
  /* rgb(77, 33, 73 
  rgb(60, 120, 122)
  rgb(122, 60, 117) 
  */
}

#player-container #vinyl-container {
  /* margin: 0; */
  /* box-shadow: 3px 5px 9px bisque; */
  position: absolute;
  height: 100vmin;
  width: 100vmin;
  background-image: url(../res/images/sprites/vinyl-no-shadow.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  /* transform: translateX(-50%); */
  left: 0;
  top: 0%;
  margin-left: -25vw; 
  /* //-348px; */
  /* -ms-transform: translateY(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  transform: translateX(-50%);
  z-index: 2;
  transform-origin: 50vmin 50vmin;
  animation: rotate 4s linear infinite;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
