.previousplaynext {
  width: 60%;
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 300ms;
}

.previousplaynext button {
  position: relative;
  height: 4.8vw;
  width: 4.8vw;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  transition: 200ms all;
}

body:not(.casette) .previousplaynext button.play {
  height: 110px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 60px;
  border: 3px solid var(--primary-color);
}

.previousplaynext button.play i,
.previousplaynext button.previous i,
.previousplaynext button.next i
{  display: flex ;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 30px;
  color: var(--primary-color);
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.previousplaynext button:hover,
button:hover
{
  opacity: 1;box-shadow: 2px 3px 8px rgba(103, 214, 196, 0.4);
}
.previousplaynext button:active {
  box-shadow: initial;
}