.previousplaynext {
  width: 60%;
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 300ms;
}

.previousplaynext button {
  position: relative;
  height: 96px;
  width: 96px;
  
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.previousplaynext button.play {
  height: 110px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 60px;
}

.previousplaynext button.play i,
.previousplaynext button.previous i,
.previousplaynext button.next i
{  display: flex ;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 30px;
  color: whitesmoke;
  height: 100%;
  width: 100%;
  /* var(--primary-color); */
}

.previousplaynext button:hover,
button:hover
{
  opacity: 1;box-shadow: 2px 3px 8px bisque;
  transition: 200ms;
}
.previousplaynext button:active {
  box-shadow: initial;
}