* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* -ms-overflow-style: none; */
  /* IE and Edge */
  /* scrollbar-width: none; */
  /* Firefox */
}
*::-webkit-scrollbar {
  /* display: none; */
  /* background-color: transparent; */

  cursor: pointer;
  width: 10px;
}
*::-webkit-scrollbar-thumb{
  cursor: pointer !important;
  /* border-radius: 20px; */
  box-shadow: 2px 0 5px darkslategray;
  background: repeating-linear-gradient(
    -45deg, 
    gray, 
    var(--primary-color-xx) 10px, 
    var(--primary-color-x) 10px, 
    var(--primary-color) 20px
  );
}
*::-webkit-scrollbar-track-piece{
background-color: lightgray;
/* border-radius: 20px; */
}

body {
  background-color: #e5e5e5;
  position: relative;
  font-family: "Outfit", "Poppins", sans-serif;
}

.front {
  z-index: 23;
}

.back {
  z-index: 21;
}

.absr {
  position: absolute;
  right: 0;
}

.absl {
  position: absolute;
  left: 0;
}

.none {
  font: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clear-right::before {
  content: "";
  clear: right;
  display: table;
}

.clear-left::before {
  content: "";
  clear: left;
  display: table;
}
