#switch-schemes {
  position: relative;
  height: 38px;
  width: 38px;
  z-index: 0;
  background-color: transparent;
  outline: none;
  opacity: 0.6;
  overflow: visible;
  transition: all 400ms;
}
#switch-schemes:hover {
  opacity: 1;
}
#switch-schemes .switch-scheme {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  outline: none;
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  transition: all 400ms;
  opacity: 0;
}
.switch-scheme#chooseScheme {
  opacity: 0;
  background-image: url(../res/images/icons/switching-schemes/arrow2.png);
  z-index: 95;
}
.switch-scheme#chooseScheme.on {
  opacity: 1;
  background-color: gray;
  background-size: 100% !important;
}

#switch-schemes button.switch-scheme{
  background-size: 60%;
}

.switch-scheme#serial {
  background-image: url(../res/images/icons/switching-schemes/serial-white.png);
  z-index: 97;
  opacity: 1;
}
.switch-scheme#shuffle {
  background-image: url(../res/images/icons/switching-schemes/shuffle-white.png);
  z-index: 96;
}
.switch-scheme#repeat {
  background-image: url(../res/images/icons/switching-schemes/repeat-white.png);
  z-index: 96;
}
