#timeless.muted {
  height: 100vh;
}
#timeless.unmuted #volume-container {
  position: absolute;
  z-index: 97;
  height: 80vh;
  width: 4.5vw;
  /* right: 2.3%; */
  bottom: 3%;
  border-radius: 3px 3px 50px 50px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  z-index: 3;
  padding-bottom: 2vw;
  display: none;

  /* top: .5vw; */
  right: 1.2vw;
  /* z-index: 98; */
}

#volume {
  margin-left: auto;
  margin-right: auto;
  margin-top: 37%;
  position: relative;
  height: 90%;
  max-height: 90%;
  width: 25%;
  border-radius: 3px;
  border: 1px solid yellowgreen;
  background-color: #d2d2d2;
  cursor: pointer;
  padding: 0;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

#volume #set {
  position: absolute;
  bottom: 0vw;
  height: 20%;
  max-height: 100%;
  width: 100%;
  background-color: yellowgreen;
  backdrop-filter: blur(2px);
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3);
}

#btn-volume {
  /* position: absolute;
  bottom: 3%;
  right: 2.3%;
  z-index: 97;
  height: 4.4vw;
  width: 4.4vw;
  scale: .5; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;

  position: absolute;
  bottom: .5vw;
  right: .5vw;
  z-index: 97;
  background-color: transparent;
  height: 5.6vw;
  width: 5.6vw;
  scale: .5;
}
#timeless.unmuted #btn-volume {
  background-image: url(../res/images/icons/volume.png);
}

#timeless.muted #btn-volume {
  background-image: url(../res/images/icons/mute.png);
}
